body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f7931e !important;
}
.user_card {
    height: 40em;
    width: 48em;
    margin-top: auto;
    margin-bottom: auto;
    background: #eaeaea;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    top: -152px;
    text-align: center;
}
.brand_logo {
    height: 328px;
    margin-top: 11em;
}
form {
    padding-top: 3em;
    width: 22em;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #fbae17;
    color: white;
}
.login_btn:focus {
    box-shadow: none;
    outline: 0px;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #fbae17;
    color: white;
    border-radius: 0.25rem 0 0 0.25rem;
    z-index: 2;
    width: 4em;
    height: 4em;
    justify-content: center;
}

.input-group-append {
    z-index: 10;
}
.input_user,
.input_pass:focus {
    box-shadow: none;
    outline: 0px;
}
.custom-checkbox .custom-control-label::before {
    background-color: white;
}

.custom-control-label:after {
    background-color: white;
}

#LoggedInAs {
    font-size: 2rem;
    position: fixed;
    top: 0px;
    color: white;
}

.form_container {
    margin-top: 15em;
}

.padding2em {
    padding-top: 2em;
}

#name {
    width: 10em;
    padding-left: 57px;
}

input, span {
    border: none !important;
    border-radius: 2em !important;
    height: 50px !important;
}

.inputname {
    margin-left: -3em;
    z-index: 0;
}

#yeet {
    z-index: 10;
    position: absolute;
    margin-left: 19em;
}

#password {
    margin-left: 0em;
    padding-left: 1em;
}


.input-group-append {
    width: 51px;
}

.input-groub .mb-2 {
    width: 25em;
}

#buttonid {
    border-radius: 1em;
}


